.wave-top-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  transform: rotate(0deg);
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave-black path {
  fill: #000;
  z-index: 20;
}

.wave-blue {
  transform: scaleY(0.9) translateY(10px); /* ajustado pro novo formato */
  z-index: -1;
}

.wave-blue path {
  fill: #007bff;
  opacity: 0.8;
}
