.card-parceiro-container {
  width: 150px;
  padding: 10px;
  display: grid;
  grid-template-rows: 10% 90%;
  justify-content: center;
  height: 150px;
  background-color: white;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.card-parceiro-link {
  text-decoration: none; /* Remove sublinhado */
  color: inherit; /* Mantém a cor original */
}

.card-parceiro-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: black;
  transition: color 0.3s ease;
  text-align: center;
}

/* Aplica o efeito de hover */
.card-parceiro-container:hover {
  background-color: blue; /* Cor ao passar o mouse */
  box-shadow: 0 0 25px blue, 0 0 20px blue, 0 0 50px blue;
  cursor: pointer;
}

.card-parceiro-container:hover .card-parceiro-title {
  color: white; /* Muda a cor do texto */
}

.card-logo {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center
}

.card-parceiro-logo-normal,
.card-parceiro-logo-white {
  position: absolute;
  width: 100%;
  height: auto;

  transition: opacity 0.3s ease;
}

/* Exibe a logo normal por padrão */
.card-parceiro-logo-white {
  opacity: 0;
}

/* No hover, oculta a normal e exibe a white */
.card-parceiro-container:hover .card-parceiro-logo-normal {
  opacity: 0;
}

.card-parceiro-container:hover .card-parceiro-logo-white {
  opacity: 1;
}
