/* Definições da area PRODUTOS do Parceiro - INICIO */

.produtos-parceiros {
  width: 100%;
  display: inline-block;
}

/* Garantir que o Swiper não ocupe espaço extra */
.slider {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

/* Mantém os slides do tamanho certo */
.swiper-slide-produto {
  width: auto !important;
  display: inline-block;
  flex-shrink: 0;
}

/* Mantém o estilo original */
.galeria-produtos img {
  display: block;
  height: auto;
  width: 18.75rem;
  border-radius: 1.25rem;
}

.produto-item {
  position: relative;
  display: inline-block;
  width: 18.75rem;
}

.produto-item .produto-titulo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.255);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  backdrop-filter: blur(0.625rem);
  height: 4.25rem;
}

.produto-item .produto-titulo h1 {
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  padding: 0;
  color: white;
}

/* Definições para o Desktop */

@media (min-width: 1024px) {
    .galeria-produtos img{
        width: 25rem;
    }

    .produto-item{
        width: 25rem;
    }
}