/*Para o Mobile*/
.section-parceiros {
  background-image: url("/src/assets/backgrounds/background.png");
  background-color: var(--background-instituto);
  background-size: contain;
  background-blend-mode: overlay; /* Mantém o fundo fixo enquanto o conteúdo rola */
  box-sizing: border-box;
  hyphens: auto;
  overflow-wrap: break-word;
  min-height: 100vh;
}

/* Definições Gerais - INICIO */
.section-parceiros h1 {
  width: max-content;
  padding-right: 1.875rem;
  text-align: start;
  font-size: 1.5rem;
  font-family: "poppins";
  color: rgb(0, 0, 0);
  overflow-wrap: normal;
}

.section-parceiros h2 {
  justify-self: center;
  text-align: center;
  font-family: "poppins";
  font-size: 1.75rem;
  line-height: 1;
  hyphens: none;
}

.section-parceiros h3 {
  justify-self: center;
  font-family: "poppins";
  font-size: 1.25rem;
  opacity: 0.7;
}

.section-parceiros p {
  text-align: justify;
  padding: 0.625rem;
  font-size: 1rem;
  font-family: "poppins";
}

.section-parceiros li {
  text-align: justify;
  padding: 0.625rem;
  list-style-type: none;
  font-size: 1rem;
  font-family: "poppins";
}

.section-parceiros-container {
  background-color: white;
  max-width: 22.5rem;
  width: 100%;
  display: block;
  justify-self: center;
  padding: 1.25rem;
  background-color: rgb(255, 255, 255);
  border: 8px solid;
  border-image-source: linear-gradient(transparent 10%, #0000ff 80%);
  border-image-slice: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.163), 0 0 0.625rem rgba(0, 0, 0, 0.097),
    0 0 1.25rem rgba(0, 0, 0, 0.136);
}

.sobre-parceiros,
.segmentos-parceiros,
.produtos-parceiros,
.contato-parceiros {
  margin-bottom: 1.25rem;
}

/* Animação "efeito de texto subilinhado" - INICIO */
.section-parceiros .h1-background {
  background-image: linear-gradient(
    transparent 50%,
    transparent 90%,
    blue 85%,
    blue 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 2s cubic-bezier(0.5, 0.04, 0.3, 1);
}

.section-parceiros .h1-background.visible {
  background-size: 100% 100%;
}

/*  Animação "efeito de texto subilinhado" - FIM */

/* Definições Gerais - FIM */

/* Definições da area da Logo e Titulo, slogan e redes sociais do Parceiro */

.titulo-logo-parceiros {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
}

.titulo-logo-parceiros h1 {
  font-size: 2.75rem;
  justify-self: center;
  line-height: 1.2;
  text-align: center;
  padding: 0;
  display: none;
}

/* Definições dos botoes das redes sociais - INICIO*/
.parceiros-social {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.parceiros-social .social-icons {
  display: flex;
  gap: 0.625rem;
}

.parceiros-social .social-icons .social-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid var(--background-instituto);
  border-radius: 3.125rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.parceiros-social .social-icons .social-buttons .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.563rem;
  color: white;
  border-radius: 3.125rem;
  background-color: var(--background-instituto);
}

.parceiros-social .social-icons .social-buttons span {
  display: none;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  line-height: 3.125rem;
  transition: all 0s ease-out;
}
/* Definições dos botoes das redes sociais - FIM */

/* Ajuste do tamanho da imagem da empresa(parceiro) */
.logo-container .logo-empresa {
  width: 100%;
}
/* Definições da area da Logo e Titulo, slogan e redes sociais do Parceiro - FIM */

/* Definições da area SOBRE do Parceiro - INICIO */

.sobre-parceiros .sede-imagens {
  width: 100%;
  height: auto;
}
.imagem-sede {
  width: 90%;
  height: auto;
}

/* Definições da area SOBRE do Parceiro - FIM */

/* Definições da area SEGMENTOS do Parceiro - INICIO */

/* Definições da area SEGMENTOS do Parceiro - FIM */

/* Definições da area PRODUTOS do Parceiro - INICIO */

#info-adicional {
  font-size: 0.875rem;
  text-align: center;
}

.produtos-parceiros a {
  text-decoration: none;
  color: blue;
}

/* Definições da area PRODUTOS do Parceiro - FIM */

/* Definições da area do CTA - INICIO */

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; /* Mantém o CTA acima do background */
}

/* Definições Textos CTA */

.cta h1 {
  color: white;
  font-size: 2.125rem;
  text-align: center;
  padding: 0;
}

.cta p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.cta-container {
  position: relative;
  background-image: url("../../assets/backgrounds/background-corp.jpg");
  background-size: cover;
  background-color: var(--background-instituto);
  background-blend-mode: multiply;
  display: inline-block;
  justify-items: center;
  padding: 3.125rem;
  max-width: 300px;
  width: 100%;
  border-radius: 2.5rem;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}

.cta-container::after,
.cta-container::before {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 3px;
  border-radius: 2.5rem;
  animation: spin 3s linear infinite;
}

/* CTA para Android e Desktop */
#cta-smartphones {
  display: block;
}

#cta-desktop {
  display: none;
}

/* Animação da borda do CTA */
.cta-container::after {
  background-image: conic-gradient(from var(--angulo1), transparent 50%, blue);
}

.cta-container::before {
  background-image: conic-gradient(from var(--angulo2), transparent 50%, blue);
}

/* Criando duas propriedades diferentes */
@property --angulo1 {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --angulo2 {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}

/* Animando os dois ângulos separadamente */
@keyframes spin {
  from {
    --angulo1: 0deg;
    --angulo2: 180deg;
  }
  to {
    --angulo1: 360deg;
    --angulo2: 540deg;
  }
}

/* Definições da area do CTA - FIM */

/* Adaptação para Tablets */
@media (min-width: 768px) {
}

/* Adaptação para Desktops */
@media (min-width: 1024px) {
  .section-parceiros-container {
    max-width: 85.5rem;
  }

  .titulo-logo-parceiros {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 15.625rem;
    align-items: center;
    justify-items: center;
  }

  .titulo-logo-parceiros h1 {
    display: block;
  }

  .sobre-parceiros {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .sobre-parceiros.sem-sede {
    grid-template-columns: 100%;
  }

  .sede-imagens {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
  }

  .produtos-parceiros a {
    text-decoration: none;
    color: black;
  }

  .produtos-parceiros a:hover {
    text-decoration: underline;
    color: blue;
  }

  .cta-container {
    max-width: 75rem;
  }

  #cta-smartphones {
    display: none;
  }

  #cta-desktop {
    display: block;
  }
}
