.home {
  background-color: var(--background-instituto);
  background-image: url("/src/assets/backgrounds/background.png");
  background-color: var(--background-instituto);
  background-size: contain;
  background-blend-mode: overlay;
}

.sections-home {
  width: 90%;
  justify-self: center;
  background-color: rgb(0, 2, 68);
  border: 8px solid;
  border-image-source: linear-gradient(transparent 10%, #0000ff 100%);
  border-image-slice: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.163), 0 0 0.625rem rgba(0, 0, 0, 0.097),
    0 0 1.25rem rgba(0, 0, 0, 0.136);
}
