.first-section-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 21.875rem repeat(3, 12.5rem);
  grid-column: auto;
  justify-items: center;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.first-section-container-text-h1 {
  padding: 0.625rem;
  justify-items: start;
  height: 18.75rem;
  max-width: 18.75rem;
  border-left: 0.188rem solid blue;
}

.first-section-container-text-h2 {
  padding: 0.625rem;
  justify-items: start;
  height: 12.5rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  border-left: 0.188rem solid blue;
}

.first-section-h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: white;
  line-height: 0.8;
  background-image: linear-gradient(
    transparent 50%,
    blue 50%,
    blue 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%; /* Começa sem underline */
  transition: background-size 2s cubic-bezier(0.5, 0.04, 0.3, 1); /* Suaviza a animação */
}

.first-section-h1.visible {
  background-size: 100% 100%; /* Aparece quando o usuário visualizar */
}

@media (max-width: 1024px) {
  .first-section-container {
    padding-top: 0.625rem;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-column: auto;
    height: 60vh;
    width: 100%;
    align-items: center;
  }

  .first-section-container-text-h1 {
    padding: 0.625rem;
    justify-items: start;
    height: 80%;
    width: 100%;
    border-left: 0.188rem solid blue;
  }

  .first-section-container-text-h2 {
    padding: 0.625rem;
    justify-items: start;
    height: 12.5rem;
    max-height: 18.75rem;
    max-width: 18.75rem;
    border-left: 0.188rem solid blue;
  }
}
