.second-section-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: auto;
}

.second-section-container-title {
  justify-self: center;
  text-align: center;
}

.second-section-container p {
  color: #0a1128;
  padding: 10px;
}

.second-section-container-title h1 {
  font-size: 3rem;
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
  color: #0a1128;
}

#second-section-sobre {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 0.8;
}

#button-saiba-mais-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .second-section-container {
    align-self: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-image: url("/src/assets/backgrounds/svgtest2.svg");
    background-position: start;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;  
    min-height: 500px;
  }

  .second-section-container p {
    width: 65%;
    padding: 10px;
    font-size: large;
    justify-self: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }

  .second-section-container-title {
    justify-self: center;
    margin-right: 1.875rem;
  }

  #second-section-sobre {
    font-size: 2rem;
    font-weight: normal;
    color: hsla(0, 0%, 0%, 0.8);
    line-height: 0.8;
  }

  #button-saiba-mais {
    margin-top: 20px;
    justify-items: center;
    width: 100%;
  }

  #break {
    display: block;
  }

  .second-section-container p {
  }
  .second-section-container h1 {
  }
  #button-saiba-mais-mobile {
    display: none;
  }
  #button-saiba-mais-desktop {
    display: block;
  }
}
