.second-section-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: auto;
}

.second-section-container-title {
  justify-self: center;
  text-align: center;
}

.second-section-container p {
  color: black;
  padding: 10px;
}

.second-section-container-title h1 {
  font-size: 2rem;
  line-height: 0.8;
  font-family: "poppins";
}

#second-section-sobre {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 0.8;
}

#button-saiba-mais-desktop {
  display: none;
}

.background-effect-2 {
  justify-self: center;
  height: 25px;
  width: 80%;
  background-image: linear-gradient(
    transparent 50%,
    transparent 90%,
    blue 85%,
    blue 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  rotate: 180deg;
  transition: background-size 2s cubic-bezier(0.5, 0.04, 0.3, 1);
}
.background-effect-1 {
  justify-self: center;
  height: 25px;
  width: 80%;
  background-image: linear-gradient(
    transparent 50%,
    transparent 90%,
    blue 85%,
    blue 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 2s cubic-bezier(0.5, 0.04, 0.3, 1);
}

.background-effect-1.visible,
.background-effect-2.visible {
  background-size: 100% 100%;
}

@media (min-width: 1024px) {
  .second-section-container {
    align-self: center;
    display: grid;
    grid-template-columns: 21.875rem 800px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: white;
  }

  .second-section-container-title {
    justify-self: center;
    margin-right: 1.875rem;
  }

  #second-section-sobre {
    font-size: 2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    line-height: 0.8;
  }

  #button-saiba-mais {
    margin-top: 20px;
    justify-items: center;
    width: 100%;
  }

  #break {
    display: block;
  }

  .second-section-container p{
  }
    .second-section-container h1{

  }
  #button-saiba-mais-mobile{
    display: none;
  }
  #button-saiba-mais-desktop {
  display: block;
}
}
