.third-section-container {
  text-align: center;
  width: 100%;
  padding: 20px;
  background: #00235f;
  background-image: url("/src/assets/backgrounds/wallpaper-vitrine.png"),
    linear-gradient(
      190deg,
      rgba(0, 35, 95, 1) 0%,
      #0a1128 50%,
      rgba(0, 35, 95, 1) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-section-container span {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: white;
}

.third-section-container h1 {
  display: block;
  font-size: 2.5rem;
  background: linear-gradient(to right, #445df9, #445df9, #49d7ff, #49d7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.third-section-container h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: white;
  width: 60%;
  padding: 30px;
  text-align: center;
  justify-self: center;
}

.cards-mantenedores {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cards-associados {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.third-section-container,
.cards-mantenedores {
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .cards-mantenedores {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    justify-self: center;
  }

  .third-section-container h2 {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: white;
    width: 90%;
    padding: 30px;
    text-align: center;
    justify-self: center;
  }

  .cards-associados {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    justify-self: center;
  }

  .third-section-container .background-effect-1,
  .third-section-container .background-effect-2 {
    width: 20%;
  }
}
