.third-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.cards-mantenedores{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: center;
}