.third-section-container {
  text-align: center;
  width: 100%;
}
.cards-mantenedores {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.third-section-container,
.cards-mantenedores {
  margin-bottom: 20px;
}
.third-section-container .background-effect-1 {
  justify-self: center;
  margin-bottom: 20px;
}

#span-nossos {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .cards-mantenedores {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    justify-self: center;
  }

  .third-section-container .background-effect-1,
  .third-section-container .background-effect-2 {
    width: 20%;
  }
}
