* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajuda no controle do layout */
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal desnecessário */
}
